# Dependencies
node_modules/
server/vendor/

# Environment
.env
server/.env

# Build
android/.gradle/
android/app/build/
android/app/release/
*.apk
*.aab
*.keystore

# Expo
.expo/
dist/
web-build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# React Native
*.hbc

# Metro
metro-cache/
.jdk17/
